
.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #A4EBF3;
	color: #fff;
	font-size: 2rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #A4EBF3;
}
